---
import { getI18n } from "../i18n/config"

const {currentLocale} = Astro
const i18n = getI18n(currentLocale)
---

<div>
    {currentLocale === 'en' && <a href="/">Cambiar a Español</a>}
    {currentLocale === 'es' && <a href="/en">Switch to English</a>}
  
    <h1>{i18n.WELCOME}</h1>
    <p>{i18n.DESCRIPTION}</p>
</div>